@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Lexend:wght@100..900&display=swap');

* {
    font-family: "Lexend", sans-serif !important;
}

.fi-logo {
    font-family: "Croissant One", serif !important;
}

.fi-sidebar-item-icon {
    width: 20px !important;
}
